/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/07/2020, 08:31:48 AM
    Author     : demon
*/

*{
    
    background-color: #aabbff;
    font-family: 'Verdana';
    size: 14px;
    justify-content: center;
}
div{
    background-color: #dd0099;
    font-size: 16px;
}